.flex-container {
    width: 50%;
    display: flex;
    background:  #e91e63;
    margin-bottom: 20px;
}

.flex-container div {
    background: #80deea;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-column {
    width: 50%;
    display: flex;
    background:  #e91e63;
    flex-direction: column;
}

.flex-container-column div {
    background: #80deea;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-column-reverse {
    width: 50%;
    display: flex;
    background:  #e91e63;
    flex-direction: column-reverse;
}

.flex-container-column-reverse div {
    background: #80deea;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-row {
    width: 50%;
    display: flex;
    background:  #e91e63;
    flex-direction: row;
}

.flex-container-row div {
    background: #80deea;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-row-reverse {
    width: 50%;
    display: flex;
    background:  #e91e63;
    flex-direction: row-reverse;
}

.flex-container-row-reverse div {
    background: #80deea;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}