@media (max-width: 412px) and (orientation: portrait) {
  body {
    width: 412px;
    height: 768px;
  }

  main {
    height: 87.2vh;
  }

  .status-bar {
    width: 412px;
    height: 24px;
    color: whitesmoke;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #sinal {
    margin-left: 6px;
  }

  #bateria {
    margin-right: 6px;
  }

  h1 {
    font-size: 20px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #333333;
  }

  .menu-container {
    width: 412px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: #e0e0e0;
    align-items: center;
  }

  #logo-img {
    width: 30px;
    height: 30px;
    margin-left: 22px;
  }

  .mobile-menu {
    margin-right: 18px;
  }

  .mobile-menu div {
    width: 18px;
    height: 2px;
    background: #333333;
    margin: 3px;
  }

  .type-container {
    width: 371px;
    margin: 26px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 290px;
    border-bottom: 1px solid #333333;
  }

  .data-container {
    width: 412px;
    display: flex;
    flex-direction: column;
  }


  .title-tablet-portrait {
    display: none;
  }

  .data-input {
    width: 371px;
    height: 57px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .data-input label {
    height: 22.22px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .data-input input,
  select {
    height: 32px;
    border-radius: 4px;
    border: 1px solid #979797;
    padding-left: 10px;
  }

  button {
    width: 371px;
    height: 33px;
    margin-bottom: 28.33px;
    border: none;
    border-radius: 4px;
    color: #b9b4b4;
    background: #333333;
  }

  .extrato-container {
    margin: 0 20px 22px 20px;
    width: 371px;
    height: 281px;
  }

  h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 19px;
  }

  .mercadoria-valor {
    width: 412px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .data-output-container {
    width: 371px;
    height: 187px;
    margin-bottom: 34px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .text-valor-output {
    width: 371px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .credito-debito {
    width: 10%;
    text-align: center;
  }

  .text-output {
    width: 60%;
  }

  .valor-output {
    width: 30%;
    text-align: right;
    margin-right: 10px;
  }

  .total-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333333;
    margin-top: 2px;
    font-weight: 700;
    padding-top: 10px;
  }

  .text-total {
    width: 60%;
    margin-left: 36px;
  }

  .valor-total {
    margin-right: 10px;
    text-align: right;
  }

  footer {
    height: 8px;
    background: #333333;
  }
}

@media (min-width: 413px) and (orientation: portrait) {
  body {
    width: 768px;
    height: 1024px;
  }

  header {
    width: 768px;
  }

  main {
    width: 768px;
  }

  footer {
    width: 768px;
  }

  .status-bar {
    height: 24px;
    color: whitesmoke;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #sinal {
    margin-left: 6px;
  }

  #bateria {
    margin-right: 6px;
  }

  h1 {
    font-size: 20px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #333333;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 60px;
    background: #e0e0e0;
    align-items: center;
  }

  .menu-container {
    margin-bottom: 20px;
  }

  #logo-img {
    width: 30px;
    height: 30px;
    margin-left: 22px;
  }

  .mobile-menu {
    margin-right: 18px;
  }

  .mobile-menu div {
    width: 18px;
    height: 2px;
    background: #333333;
    margin: 3px;
  }

  .type-container {
    border: 1px solid #000000;
    width: 728px;
    height: 189px;
    margin: 0 20px 0 20px;
  }

  .data-container {
    width: 728px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .title-tablet-portrait {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 21px;
  }

  .data-input {
    display: flex;
    flex-direction: column;
  }

  .data-input label {
    height: 22.22px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .data-input input,
  select {
    height: 32px;
    border-radius: 4px;
    border: 1px solid #979797;
    padding-left: 10px;
  }

  .data-input-type {
    width: 150px;
  }

  .data-input-name {
    width: 348px;
  }

  .data-input-cust {
    width: 150px;
  }

  .add-btn-portrait {
    width: 200px;
    height: 33px;
    color: whitesmoke;
    background: #333333;
    margin-top: 20px;
    margin-left: 508px;
    border-radius: 4px;
  }

  .extrato-container {
    margin: 0 20px 22px 20px;
    width: 371px;
    height: 281px;
  }

  h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 19px;
  }

  .mercadoria-valor {
    width: 728px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .data-output-container {
    height: 281px;
    margin-bottom: 34px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .text-valor-output {
    width: 728px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .credito-debito {
    width: 10%;
    text-align: center;
  }

  .text-output {
    width: 60%;
  }

  .valor-output {
    width: 30%;
    text-align: right;
    margin-right: 10px;
  }

  .total-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333333;
    margin-top: 2px;
    font-weight: 700;
    padding-top: 10px;
  }

  .text-total {
    width: 60%;
    margin-left: 36px;
  }

  .valor-total {
    margin-right: 10px;
    text-align: right;
  }
}

@media (min-width: 1024px) {
  
}